<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @trend.group_id %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @trend.rank %>
</p>

<p>
  <strong>Keyword:</strong>
  <%= @trend.keyword %>
</p>

<%= link_to 'Edit', edit_trend_path(@trend) %> |
<%= link_to 'Back', trends_path %>
